*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 855px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 870px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main {
  flex-grow: 1;
}

input {
  outline: none;
  background-color: transparent;
}

@font-face {
  font-family: "Heebo-500";
  src: url("../fonts/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo-900";
  src: url("../fonts/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo-700";
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo-400";
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Heebo-400", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #21243D;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 4.4rem;
  color: #21243D;
  font-family: "Heebo-700", "Arial", sans-serif;
  line-height: 1.36;
  font-weight: 700;
  color: #21243D;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 2.2rem;
  }
}

.header .navbar a {
  font-family: "Heebo-500", "Arial", sans-serif;
  font-weight: 500;
  font-size: #000;
  line-height: #000;
  color: #000000;
}

.header {
  margin-top: 1rem;
  position: relative;
}
.header .container {
  max-width: 980px;
  margin: 0px auto;
  height: 4.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 14rem;
}
.header .navbar {
  display: flex;
  justify-content: flex-end;
  gap: 3.3rem;
}
@media screen and (max-width: 576px) {
  .header .navbar {
    display: none;
  }
}
.header .navbar a:hover {
  color: #FF6464;
}
.header .navbar .hidden {
  display: block;
}
@media screen and (max-width: 576px) {
  .header .navbar .hidden {
    position: absolute;
    flex-direction: column;
    width: 100%;
    text-align: center;
    top: 5rem;
    background-color: #fff;
    height: 90vh;
  }
}
.header__hamburger {
  display: none;
}
@media screen and (max-width: 576px) {
  .header__hamburger {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .header__hamburger {
    position: fixed;
  }
}

.hero .container {
  width: 855px;
  display: flex;
  justify-content: space-between;
  height: auto;
  gap: 11rem;
  margin-bottom: 7.1rem;
}
@media screen and (max-width: 870px) {
  .hero .container {
    width: 100%;
    gap: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .hero .container {
    width: 100%;
    gap: 3rem;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 576px) {
  .hero__wrapper {
    width: 100%;
    text-align: center;
  }
}
.hero__wrapper h1 {
  font-size: 4.4rem;
  line-height: 1.36;
  margin-bottom: 4rem;
}
.hero__wrapper p {
  margin-bottom: 3.8rem;
}
.hero__wrapper a {
  padding: 17px 24px;
  background-color: #FF6464;
  border-radius: 2px;
}
.hero .img__wrapper {
  text-align: center;
  position: relative;
}
.hero .img__wrapper .bg__aqua {
  position: absolute;
  bottom: 4rem;
  right: 0.4rem;
  width: 24.3rem;
  height: 24.3rem;
  border-radius: 50%;
  background-color: #EDF7FA;
}
.hero .img__wrapper img {
  position: relative;
  z-index: 100;
}

.footer .container {
  text-align: center;
}
.footer__wrapper {
  padding: 5.4rem 0px;
}
.footer__icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 2.6rem;
}
.footer__icon path {
  fill: #21243D;
}
.footer__icon a:hover path {
  fill: #FF6464;
}

.resert {
  background-color: #EDF7FA;
  margin-bottom: 1.5rem;
  height: auto;
}
.resert .container {
  display: flex;
  flex-direction: column;
  padding: 7px 0px 4.2rem;
  height: auto;
}
@media screen and (max-width: 870px) {
  .resert .container {
    padding: 0px 2.5rem;
  }
}
.resert__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  padding: 7px 0px 7px;
}
@media screen and (max-width: 870px) {
  .resert__head {
    width: 100%;
  }
}
.resert__head h3 {
  font-size: 2.2rem;
  line-height: 2.73;
}
@media screen and (max-width: 576px) {
  .resert__head h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.resert__head a {
  color: #00A8CC;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  .resert__head a {
    display: none;
  }
}
.resert__body ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (max-width: 870px) {
  .resert__body ul {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
.resert__body ul li {
  width: 41.8rem;
  padding: 2.4rem 2.7rem 3rem 2.3rem;
  background-color: #ffffff;
}
@media screen and (max-width: 870px) {
  .resert__body ul li {
    width: 100%;
    padding: 3rem 8rem;
  }
}
@media screen and (max-width: 576px) {
  .resert__body ul li {
    padding: 12px 19px;
  }
}
.resert__body ul .date {
  display: flex;
  gap: 2.4rem;
}
.resert__body ul span {
  width: 1px;
  height: 21px;
  border: none;
  margin-bottom: 1.1rem;
  background-color: #000;
}
.resert__body ul h3 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.46;
  margin-bottom: 1.7rem;
}
@media screen and (max-width: 870px) {
  .resert__body ul h3 {
    font-size: 2.2rem;
    line-height: 2.73;
    margin-bottom: 1.2rem;
  }
}
.resert__body ul h4 {
  font-size: 1.8rem;
  line-height: 1.44;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .resert__body ul h4 {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.works .container {
  margin-bottom: 15rem;
}
.works__title {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.73;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  .works__title {
    width: 100%;
    text-align: center;
  }
}
.works__list {
  display: flex;
  flex-direction: column;
}
.works__list hr {
  margin: 2rem 0rem;
  color: #21243D;
}
@media screen and (max-width: 576px) {
  .works__list hr:not(:first-child) {
    display: none;
  }
}
.works__item {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
@media screen and (max-width: 576px) {
  .works__item {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .works__item img {
    width: 100%;
    height: auto;
  }
}
.works__item h1 {
  font-size: 3rem;
  line-height: 1.47;
  margin-bottom: 2rem;
}
.works__item h3 {
  font-size: 1.8rem;
  width: 6.2rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 1.6rem;
  font-weight: 900;
  background-color: #21243D;
  color: #ffffff;
}
.works__item h4 {
  font-size: 2rem;
  line-height: 1.45;
  color: #8695A4;
  font-weight: 400;
}
.works__item .time {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  margin-bottom: 1.7rem;
}
@media screen and (max-width: 576px) {
  .works__item:not(:first-child) {
    display: none;
  }
}
.works__item-definition {
  width: 100%;
  height: auto;
  justify-content: center;
}

button {
  border: 0;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */