html {
    font-size: 62.5%;
}


body {
    font-family: $heebo-400;
    font-size: 1.6rem;
    color: $color-dark;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 4.4rem;
    color: $color-dark;
    font-family: $heebo-700;
    @include responsive(phone){
        font-size: 3.2rem;
    }
    line-height: 1.36;
    font-weight: 700;
    color: $color-dark;
}

h2 {
    font-size: 2.6rem;
    @include responsive (phone) {
        font-size: 2.2rem;
    }
    line-height: 1.5;
    font-weight: 700;
}
%ancer {
    font-family: $heebo-500;
    font-weight: 500;
    font-size: $ancer-color;
    line-height: $ancer-color;
    color: #000000;

}

