
$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-text:#fff;

// bg
$color-bg: #ffffff;
$color-bg-section: #EDF7FA;
$color-time-1:#142850;
$color-time-2: $color-primary;
$ancer-color: #000;
$secondary-bg:#EDF7FA;
$btn-two-color:#00A8CC;
$color-dark-bg: #21243D;
$light:#8695A4;

// size
$container: 855px;
$ancer-size:2rem;
$ancer-line-height:1.45;
$h1-size:4.4rem;
$h1-line:1.36;
$text-size:1.6rem;
$text-line:1.5;
$h2-size: 2.6rem;
$h2-line: 1.46;
$h3-size:2.2rem;
$h3-line:2.73;
$h4-size:1.8rem;
$h4-line:1.44;
$works-h1-size: 3rem;
$works-h1-line-height:1.47;
$works-h4-size: 2rem;
$works-line-height:1.45;



// fonts
$heebo-400: "Heebo-400", "Arial", sans-serif;
$heebo-500: "Heebo-500", "Arial", sans-serif;
$heebo-700: "Heebo-700", "Arial", sans-serif;
$heebo-900: "Heebo-900", "Arial", sans-serif;